REGISTRY_URL=docker.io
REGISTRY_NAMESPACE=alramz
REGISTRY_USERNAME=your-dockerhub-username
REGISTRY_PASSWORD=your-dockerhub-password
RELEASE_VERSION=1.0.0
DATA_VALIDATION_SERVICE_TAG=1.0.0
NOTIFICATION_SERVICE_TAG=1.0.0
POSTGRES_IMAGE=postgres:15-alpine
REDIS_IMAGE=redis:7-alpine
POSTGRES_DB=alramzmwdb
POSTGRES_USER=alramzmw
POSTGRES_PASSWORD=changeme
REDIS_PASSWORD=

IBAN_API_KEY=
VERIPHONE_API_KEY=
ETRADE_BASE_URL=
ETRADE_CLIENT_ID=
ETRADE_CLIENT_SECRET=
JWT_SECRET=

AZURE_TENANT_ID=
AZURE_CLIENT_ID=
AZURE_CLIENT_SECRET=

PGADMIN_DEFAULT_EMAIL=admin@alramz.ae
PGADMIN_DEFAULT_PASSWORD=admin123

CIPHER_PASSWORD=
